<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoom2u_customer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utility.Zoom2u"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoom2u">
        <activity android:name=".ui.bottom_navigation_package.base_package.home.booking_confirmation.BookingConfirmationActivity"></activity>
        <activity android:name=".ui.bottom_navigation_package.base_package.home.map_page.doc_dimension.DocDimensionActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.my_location.search_location.Location" />
        <activity
            android:name=".ui.splash_screen.LogInSignupMainActivity"
            android:theme="@style/AppTheme.Splash" />
        <activity android:name=".ui.bottom_navigation_package.base_package.BottomNavigationActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.edit_profile.EditProfileActivity" />
        <activity android:name=".ui.splash_screen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.chnage_password.ChangePassActivity" />
        <activity android:name=".ui.log_in.forgot_password.ForgotPasswordActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.my_location.edit_add_location.EditAddLocationActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.my_location.MyLocationActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.profile.change_price.PriceChangeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity android:name=".ui.bottom_navigation_package.bid_request.active_bid_request.active_bid_page.ActiveBidActivity" />
        <activity android:name=".ui.bottom_navigation_package.bid_request.BidRequestActivity" />
        <activity android:name=".ui.bottom_navigation_package.qutote_request.QuoteRequestActivity" /> <!-- <activity android:name=".application.ui.chat.MessageActivity" /> -->
        <activity android:name=".ui.bottom_navigation_package.chat.ChatActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.history.history_details.HistoryDetailsActivity" />
        <activity android:name=".ui.log_in.LogInActivity" />
        <activity android:name=".ui.sign_up.SignUpActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.home.pricing_payment.PricingPaymentActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.home.map_page.MapActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.home.delivery_details.DeliveryDetailsActivity" />
        <activity android:name=".ui.bottom_navigation_package.base_package.base_page.BasePageActivity" />
    </application>

</manifest>