<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoom2u">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoom2u">
        <activity android:name=".ui.log_in.LogInActivity"></activity>
        <activity android:name=".ui.sign_up.SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.details_base_page.home.pricing_payment.PricingPaymentActivity" />
        <activity android:name=".ui.details_base_page.home.map_page.MapActivity" />
        <activity android:name=".ui.details_base_page.home.delivery_details.DeliveryDetailsActivity" />
        <activity android:name=".ui.details_base_page.BasePageActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>